body {
	background-color: #f7f7f7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
	background-color: #d3d3d3;
	text-align: center;
	border-radius: 16px;
	margin: 32px;
	padding: 16px;
}

.btn--orange,
a.btn--orange {
	color: #fff;
	background-color: #d75cd7;
}

.btn--orange:hover,
a.btn--orange:hover {
	color: #fff;
	background: #d75cd7;
}

.btn--latest,
a.btn--latest {
	color: #fff;
	background-color: #3FB941;
}

.btn--latest:hover,
a.btn--latest:hover {
	color: #fff;
	background: #3FB941;
}

.btn--preview,
a.btn--preview {
	color: #fff;
	background-color: #C69922;
}

.btn--preview:hover,
a.btn--preview:hover {
	color: #fff;
	background: #C69922;
}

.btn--github,
a.btn--github {
	color: #fff;
	background-color: #E6EDF3;
}

.btn--github:hover,
a.btn--github:hover {
	color: #fff;
	background: #1F2328;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* font-size: 62.5%; */
	/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.raku {
	text-align: center;
	margin: 50px;
	margin-top: 20px;
	padding: 50px;
	/* background-color: #d4d4d4; */
	border-radius: 30px;
}

a {
	color: #59acff;
}

@keyframes light-body {
	0% {
		background-color: #282828;
		color: white;
	}


	100% {
		background-color: #efefef;
		color: black;
	}
}

@keyframes dark-body {

	0% {
		background-color: #efefef;
		color: black;
	}


	100% {
		background-color: #282828;
		color: white;
	}


}

@keyframes light-raku {
	0% {
		background-color: #565656;
	}

	100% {
		background-color: #d4d4d4;
	}
}

@keyframes dark-raku {
	0% {
		background-color: #d4d4d4;
	}

	100% {
		background-color: #565656;
	}
}

.dark-body {
	animation: dark-body 0.3s;
	background-color: #282828;
	color: white;
}

.light-body {
	animation: light-body 0.3s;
	background-color: #efefef;
	color: black;
}

.light-raku {
	animation: light-raku 0.3s;
	background-color: #d4d4d4;
}

.dark-raku {
	animation: dark-raku 0.3s;
	background-color: #565656;
}

table.center {
	margin: auto;
}

th,
td {
	border: solid 1px;
	padding: 7px;
	/* 枠線指定 */
}

table {
	border-collapse: collapse;
	/* セルの線を重ねる */
}

textarea.try_output {
	font-family: monospace;
	color: white;
	background-color: #1F2328;
}

/* トグルボタン */
.toggle_input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.toggle_label {
	width: 75px;
	height: 35px;
	background: #ccc;
	position: relative;
	display: inline-block;
	border-radius: 40px;
	transition: 0.4s;
	box-sizing: border-box;
}

.toggle_label:after {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}

.toggle_input:checked+.toggle_label {
	background-color: #4BD865;
}

.toggle_input:checked+.toggle_label:after {
	left: 40px;
}

.toggle_button {
	position: relative;
	width: 75px;
	height: 35px;
	margin-left: 90%;
}